.scrollContainer {
  width: 100vw;
  /* ScrollControls sets pages to 5, so total height is 500vh */
}

.section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
